<html>
 <head>
   <title>Stock Details</title>
   <!--<link rel="stylesheet" type="text/css" href="/static/style.css"> -->
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>{{message}}</h1>
     </div>
     <div id="main">
       <p>Stock Details</p>
       <p>
          <strong>Name</strong>: {{name}} <br>
          <strong>Quote</strong>: {{quote}} <br>
          <strong>Type of Company</strong>: {{companytype}} <br>
          <strong>Type of Industry</strong>: {{industrytype}} <br>
       </p>
     </div>
   </div>
 </body>
</html>
